:root {
  --coral: hsl(23, 83%, 77%);
  --pink: hsl(353, 55%, 84%);
  --yellow: hsl(42, 100%, 81%);
  --green: hsl(118, 100%, 90%);
  --blue: hsl(187, 61%, 74%);
  --lavender: hsl(283, 24%, 81%);

  --headerHeight: 60px;
  --middleHeight: 300px;
  --footerHeight: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.red,
.orange,
.yellow,
.green,
.blue,
.purple {
  /* This is just styling the text in the boxes to be centered */
  display: grid;
  place-items: center;
}

.coral {
  background-color: var(--coral);
}

.pink {
  background-color: var(--pink);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--lavender);
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-title code {
  display: block;
  width: auto;
  font-size: 0.8em;
  margin-left: 2em;
  background: var(--green);
}

.ex-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 
}

.ex-container {
  resize: both;
  overflow: hidden;
  flex: 1;
}

.ex-container::before {
  content: 'resize me!';
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: block;
}

.code-container {
  flex: 1;
}